.main{
  margin-left: 110px;
}

body{
  background-color: rgb(255, 247, 237);
}

@media screen and (max-width: 1024){
  .main{
    margin-left: 0;
  }
}

@media screen and (max-width: 500px){
  .main{
    margin-left: 0;
    margin-right: 0;
  }
}